<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Frontend for internal MisterAgri services.">
    <meta name="author" content="Jesse de Zwart">
    <title>MisterTool</title>

    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- Custom styles for this template -->
    <link href="/css/base.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">MisterTool</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <span data-feather="home"></span>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tools">
                                <span data-feather="tool"></span>
                                Tools
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/call-info">
                                <span data-feather="phone-call"></span>
                                Call info
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/product/cross">
                                <span data-feather="info"></span>
                                Product cross
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/product/control">
                                <span data-feather="refresh-cw"></span>
                                Sku control
                            </a>
                        </li>

                    </ul>

                    <h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>External</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="https://bitwarden.w4e.com:8443">
                                <span data-feather="shield"></span>
                                Bitwarden
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://misteragri.com">
                                <span data-feather="external-link"></span>
                                MisterAgri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://misteragri.com/cms">
                                <span data-feather="external-link"></span>
                                CMS
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://185.132.178.128:3000/">
                                <span data-feather="external-link"></span>
                                Grafana
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://nfs.w4e.com:8080">
                                <span data-feather="external-link"></span>
                                Outgoing Order Tracker
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://odoo.w4e.com/web">
                                <span data-feather="external-link"></span>
                                Odoo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://gitlab.w4e.com/">
                                <span data-feather="external-link"></span>
                                GitLab
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://packagist.w4e.com/">
                                <span data-feather="external-link"></span>
                                Packagist
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://w4e.atlassian.net/jira/your-work">
                                <span data-feather="external-link"></span>
                                Jira
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://bitbucket.org/">
                                <span data-feather="external-link"></span>
                                BitBucket
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ssh://185.132.178.128">
                                <span data-feather="terminal"></span>
                                SSH MisterAgri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ssh://192.168.1.6">
                                <span data-feather="terminal"></span>
                                SSH 192.168.1.6
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ssh://192.168.1.13">
                                <span data-feather="terminal"></span>
                                SSH 192.168.1.13
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block main %}
                {% endblock %}
            </main>
        </div>
    </div>
    <script>
        feather.replace()
    </script>
    {% block extrascripts %}
    {% endblock %}
</body>

</html>