{% extends "base.html.twig" %}
{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Call info</h2>
    <form id="search-form" action="/call-info/search" class="second-nav-component nav-search-form form-inline"
        method="post" enctype="application/x-www-form-urlencoded">
        <input type="number" class="form-control" id="navOrderNumberInput" tabindex="1" name="orderNumberInput"
            autocomplete="off" placeholder="Order number">
        <button type="submit" class="btn btn-secondary second-nav-component" id="nav-search-btn">Search <span
                data-feather="search"></span></button>
    </form>
    <a class="btn btn-secondary second-nav-component" id="nav-back-btn" href="/call-info">Back <span
            data-feather="corner-right-up"></span></a>
</div>
<div class="container-fluid">
    {% if not customers %}
    <h4 class="h4">No results :(</h4>
    {% endif %}
    {% for customer in customers %}
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ customer.name }}</h5>
                    <a href="https://www.google.com/maps/search/?api=1&query={{ customer.street }}%20{{ customer.zip|upper }}"
                        target="blank">
                        <p class="card-text">{{ customer.street }}<br>{{ customer.zip|upper }}
                            {{ customer.city|capitalize }}</p>
                    </a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Phone:</strong> {{ customer.phone}}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ customer.email}}</li>
                    <li class="list-group-item"><strong>Total invoiced:</strong> € {{ customer.total_invoiced }}</li>
                </ul>
            </div>
        </div>

        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
                {% for order in customer.mt_orders %}
                <a href="#list-{{ order.id }}"
                    class="list-group-item list-group-item-action order-block{% if loop.first %} active{% endif %}"
                    id="list-{{ order.id }}-list" data-toggle="list" href="#list-{{ order.id }}" role="tab"
                    data-orderid="{{ order.id }}">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ order.name }}</h5>
                    </div>
                    <p>
                        <strong>Date:</strong> {{ order.date_order_human }} <small>({{ order.date_order }})</small><br>
                        <strong>Total:</strong> € {{ order.amount_total }} (€ {{ order.margin }})<br>
                        <br>
                    </p>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-6">
            <div class="tab-content" id="nav-tabContent">
                {% for order in customer.mt_orders %}
                <div class="tab-pane{% if loop.first %} show active{% endif %}" id="list-{{ order.id }}" role="tabpanel"
                    aria-labelledby="list-{{ order.id }}-list">
                    <div class="accordion" id="delivery_accordion">
                        {% for delivery in order.mt_deliveries %}
                        <div class="card">
                            <div class="card-header" id="heading_{{ delivery.id }}">
                                <h2 class="mb-0">
                                    <button class="btn btn-link delivery-collapse" type="button" data-toggle="collapse"
                                        data-target="#collapse_{{ delivery.id }}" data-deliveryid="{{ delivery.id }}" aria-expanded="false"
                                        aria-controls="collapse_{{ delivery.id }}">{{ delivery.name }}</button>
                                    {% if delivery.x_trackingcode %}
                                    <a href="http://odoo.w4e.com/web#id={{ delivery.id }}&view_type=form&model=stock.picking"
                                        target="_blank"><span class="delivery-icon"
                                            data-feather="external-link"></span></a>
                                    <a href="{{ delivery.x_trackingcode }}" target="_blank"><span class="delivery-icon"
                                            data-feather="truck"></span></a>
                                    {% endif %}
                                </h2>
                            </div>

                            <div id="collapse_{{ delivery.id }}" class="collapse show"
                                aria-labelledby="heading_{{ delivery.id }}" data-parent="#delivery_accordion">
                                <div class="card-body">

                                    <table class="table table-sm">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Status</th>
                                                <td><span
                                                        class="badge badge-{{ delivery.state|replace({'done': 'primary', 'confirmed': 'warning', 'cancel':'danger'}) }}">{{ delivery.state|replace({'confirmed': 'Wachten op beschikbaarheid', 'done': 'Voltooid', 'cancel':'Geannuleerd'}) }}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Creation date</th>
                                                <td>{{ delivery.create_date_human }}
                                                    <small>({{ delivery.create_date }})</small> </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Promised date</th>
                                                <td>{{ delivery.min_date_human }}
                                                    <small>({{ delivery.scheduled_date }})</small> </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Last update</th>
                                                <td>{{ delivery.__last_update_human }}
                                                    <small>({{ delivery.__last_update }})</small></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Weight</th>
                                                <td>{{ delivery.weight }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Product</th>
                                                <th scope="col">Unit price</th>
                                                <th scope="col">Qty</th>
                                                <th scope="col">Qty Avail.</th>
                                                <th scope="col">Vpe</th>
                                                <th scope="col">State</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for moveline in delivery.mt_movelines %}
                                            <tr>
                                                <th scope="row"><a
                                                        href="http://odoo.w4e.com/web#id={{ moveline.product_tmpl_id[0] }}&view_type=form&model=product.template"
                                                        target="_blank">{{ moveline.product_id[1] }}</a></th>
                                                <td>€ {{ moveline.price_unit }}</td>
                                                <td>{{ moveline.product_qty }}</td>
                                                <td>{{ moveline.availability }}</td>
                                                <td>{{ moveline.product_uom_qty }}</td>
                                                <td><span
                                                        class="badge badge-{{ moveline.state|replace({'confirmed': 'warning', 'done': 'primary', 'assigned': 'info', 'cancel':'danger'}) }}">{{ moveline.state|replace({'confirmed': 'Wachten op beschikbaarheid', 'done': 'Voltooid', 'assigned':'Toegewezen', 'cancel': 'Geannuleerd'}) }}</span>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}
{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="/js/call-info-data.js"></script>
{% endblock %}