{% extends "base.html.twig" %}
{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Call info</h1>
</div>

<p>Use on of the search methods below to search for orders.</p>

<form id="search-form" action="/call-info/search" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
        <label for="phoneInput">Phone number</label>
        <input type="text" class="form-control" id="phoneInput" name="phoneInput" tabindex="1" autocomplete="off"
            autofocus>
        <small id="phoneHelp" class="form-text text-muted">You can include netcodes.</small>
    </div>
    <div class="form-group">
        <label for="postalCodeInput">Postal code</label>
        <input type="text" class="form-control" id="postalCodeInput" tabindex="2" name="postalCodeInput"
            autocomplete="off">
    </div>
    <div class="form-group">
        <label for="postalCodeInput">Name</label>
        <input type="text" class="form-control" id="nameInput" tabindex="2" name="nameInput"
            autocomplete="off">
    </div>
    <div class="form-group">
        <label for="deliveryInput">Delivery</label>
        <input type="text" class="form-control" id="deliveryInput" tabindex="2" name="deliveryInput"
            autocomplete="off">
    </div>
    <div class="form-group">
        <label for="emailAddressInput">Email address</label>
        <input type="email" class="form-control" id="emailAddressInput" tabindex="2" name="emailAddressInput"
            autocomplete="off">
    </div>
    <div class="form-group">
        <label for="orderNumberInput">Order number</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">1-</div>
            </div>
            <input type="number" class="form-control" id="orderNumberInput" tabindex="3" name="orderNumberInput"
                autocomplete="off">
        </div>
        <small id="orderNumberHelp" class="form-text text-muted">You don't have to include preceding zeroes.</small>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" tabindex="4" id="searchBtn">Search</button><br><br>
        <div class="spinner-border text-dark" role="status" id="loadAnimation" style="margin-left: 20px; display:none;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</form>
{% endblock %}
{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="/js/call-info-home.js"></script>
{% endblock %}