{% extends "base.html.twig" %}
{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Home</h1>
</div>
<div class="container-fluid">
    Deze pagina is nog leeg!
</div>
{% endblock %}