{% extends "base.html.twig" %}
{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Product cross</h1>
  <blockquote class="blockquote">
    <p class="mb-0">Crossty of crossty niet?</p>
    <footer class="blockquote-footer">Nick Dekker</footer>
</blockquote>
</div>

<form id="searchBySkuForm">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Sku</label>
      <input type="text" class="form-control mb-2" placeholder="Sku" id="skuInput">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" id="searchBySku">Search</button>
    </div>
    <p id="skuResult"></p>
  </div>
</form>

<form id="searchBySupplierForm">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Supplier sku</label>
      <input type="text" class="form-control mb-2" id="supplierSkuInput" placeholder="Supplier sku">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2" id="searchBySupplierSku">Search</button>
    </div>
    <p id="supplierSkuResult"></p>
  </div>
</form>
<hr>
<div id="product-card-container">
  <div class="card module" id="loading-card">
    <div class="card-body">
      <h5 class="card-title">Loading...</h5>
    </div>
    <div class="card-body">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="/js/product-cross.js"></script>
{% endblock %}