{% extends "base.html.twig" %}
{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Sku control</h1>
</div>
<div class="row">
  <div class="col-md-3">
    <h3 class="h3">Generate</h3>
    {% if newSku %}
    <div class="alert alert-success" role="alert">
      Successfully generated {{newSku}}
    </div>
    {% endif %}
    <form id="generateSkuForm" method="post" enctype="application/x-www-form-urlencoded" action="control/create">
      <div class="form-group">
        <label for="skuRange">Range</label>
        <input type="number" name="range" class="form-control" id="skuRange" aria-describedby="skuRangeHelp" required>
        <small id="skuRangeHelp" class="form-text text-muted">The first number(s) of the sku.</small>
      </div>
      <div class="form-group">
        <label for="skuSupplierSku">Supplier sku</label>
        <input type="text" name="supplierSku" class="form-control" id="skuSupplierSku"
          aria-describedby="skuSupplierSkuHelp" required>
        <small id="skuSupplierSkuHelp" class="form-text text-muted">The supplier product reference.</small>
      </div>
      <div class="form-group">
        <label for="skuSupplierAlias">Supplier</label>
        <select class="custom-select" name="supplier" id="skuSupplierAlias" required>
          <option selected>Supplier</option>
          {% for supplier in suppliers %}
          <option value="{{ supplier.supplier_alias }}">{{ supplier.supplier_canonical }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Generate</button>
    </form>
  </div>
  <div class="col-md-3">
    <h3 class="h3">Delete</h3>
    {% if removedSku %}
    <div class="alert alert-success" role="alert">
      Successfully removed sku {{ removedSku }}
    </div>
    {% endif %}
    <form id="deleteSkuForm" method="post" enctype="application/x-www-form-urlencoded" action="control/delete">
      <div class="form-group">
        <label for="skuInput">Sku</label>
        <input type="text" name="sku" class="form-control" id="skuInput" aria-describedby="skuSupplierSkuHelp" required>
        <small id="skuHelp" class="form-text text-muted">The sku to delete</small>
      </div>
      <button type="submit" class="btn btn-danger">Delete</button>
  </div>
  </form>
</div>
</div>
{% endblock %}
{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
{% endblock %}