{% extends "base.html.twig" %}
{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Tools</h1>
</div>
<div class="alert alert-secondary" role="alert">
It might take some time for the progress to show up! Be patient.
</div>
{% for module in modules %}
<div class="card module">
  <div class="card-body">
    <h5 class="card-title">{{ module.name }}</h5>
    <p class="card-text">{{ module.desc }}</p>
    <button class="btn btn-secondary" data-toggle="modal" data-target="#{{ module.slug }}_modal">Run</button>
  </div>
</div>
{% endfor %}
<div id="terminal-loading">
  <div class="d-flex justify-content-center">
    <p>Waiting for processess to track...</p>
  </div>
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only">Waiting for processess to track...</span>
    </div>
  </div>
</div>

<div class="accordion" id="terminal-container" ></div>


{% for module in modules %}
<div class="modal" tabindex="-1" role="dialog" id="{{ module.slug }}_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ module.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for option in module.options %}
        <div class="form-group">
          <label for="{{ option }}">{{ option }}</label>
          <input type="text" class="form-control module-option" id="{{ option }}">
        </div>
        {% else %}
        <p>
          There are no settings for this tool. Continue?
        </p>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary module-run" id="{{ module.name }}">Run</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/tools.js"></script>
{% endblock %}